@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    /* color: #000; */
    
    
}
/* body{
    background-color: #dedede; */
/* } */  

.header .topbar{
    background-color: #111827;
    height: 40px;
    display: flex;
    align-items: center;
}

.container{
    width: 1216px;
    padding: 0 32px;
    margin: 0 auto;
}

.topbar-content{
    display: flex;
    justify-content: space-between;
}

.topbar-menu{
    list-style: none;
    display: flex;
    gap: 16px;
}

.topbar-menu li a{
    color: #fff;
    text-decoration: none;
}

.topbar-selectbox{
    background-color: #111827;
    color: #fff;
    border: 0;
}

.header .navbar{
height: 64px;
background-color: #fff;
display: flex;
align-items: center;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
}

.navbar-logo{
    height: 24px;
    width: auto;
}

.navbar-menu{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
    
}

.navbar-menu li a{
    text-decoration: none;
    color: #000;
}
.navbar-right-menu{
    display: flex;
    align-items: center;
    gap: 32px;
}
/* .navbar-icon{
    height: 25px;
    width: auto;
    display: flex-start;
    
} */

.navbar-right-menu-item img{
height: 24px;
}

.navbar-right-menu-item:last-child{
    display: flex;
    align-items: center;
    gap: 8px;
    
}

.bannner-background{
    /* background-color: #f9fafb; */
    

    
   
}

.banner-content{
    text-align: center;
    font-family: 'Inter', 'InterFallback', sans-serif;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    
    
}

.banner-heading{
    font-weight: 700;
    font-size: 36px;
    
    
}

.banner-pragraph{
    font-size: 15px;
    color: #6b7280;
    margin-top: 30px;
    

}

.contact-area{
    display: flex;
    gap: 50px;
    padding: 80px 0;
  
    
}

.contact-list{
    margin-left: auto;
    margin-right: auto;
}
.contact-menu{
        margin-bottom: auto;
        margin-top: auto;
}

.contact-menu h1{
font-size: 30px;
font-weight: 700;
margin-bottom: 10px;
}

.contact-menu p{
    width: 300px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
    color: #6b7280;
}

.contact-menu button{
    margin-top: 20px;
    width: 120px;
    height: 43px;
    border: 0;
    background-color: rgb(77, 77, 224);
    color: #fff;
    border-radius: 10px;
}

.contact-mail-list-item{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
     padding: 80px 0;  
    /* justify-content: space-between; */
   
}

.contact-mail-area{
    width: calc((100% - 60px ) / 2);
    height: 168px;
    width: 401px;
    background-color: #f9fafb;
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.contact-mail-area p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    
}

.contact-mail-area a{
    text-decoration: none;
    margin-bottom: 10px;
    color: rgb(66, 66, 224);
    font-size: 12px;
    letter-spacing: 1px;
}

.contact-mail-area h3{
    color: #6b7280;
    font-size: 14px;
    font-weight: 400;
}


.location-area{
    border-top: 1px solid #e5e7eb;
    padding: 80px 0;
}
.location-menu{
    margin-bottom: 20px;
}

.location-menu h1{
    font-size: 29px;
    font-weight: 900;
    margin-bottom:10px ;
}
.location-menu p{
    font-size: 18px;
    font-weight: 400;
    width: 500px;
    color: #6b7280;
    line-height: 25px;
}

.country-location{
    display: flex;
    gap: 140px;
    margin-top: 50px;
    
}


.countary-location-item {
    border-left: 1px solid #b2bbcc;
    margin-left: 10px;
    margin-top: 36px;
   
}

.countary-location-item h1{
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 8px;
}
.countary-location-item p{
    margin-left: 10px;
    font-size: 15px;
    padding: 5px 0;
    color: #6b7280;
}


.service-footer{
    background-color: #f9fafb;
    margin-top: 80px;
}
.footer-top{
    display: flex;
    gap: 35px;
    padding: 120px 0;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
    
}

.footer-top-item{
    width: calc((100% - 96px) / 4);
}

.footer-top-title{
    font-weight: 600;
    margin-bottom: 24px;
}

.footer-top-list{
    list-style: none;
    margin-bottom: 20px;
}
.footer-top-list-item{
    margin-bottom: 20px;
}
.footer-top-list-item a{
    color: #6a6a6a;
    text-decoration: none;
    font-size: 14px;
   
}

.footer-top-logo img{
    width: 120px;
    margin-bottom: 24px;
}

.footer-top-logo-title{
    font-weight: 500;
    margin-bottom: 18px;
}

.footer-top-logo-desc{
color: #6a6a6a;
font-size: 14px;
}

.footer-bottom{
    padding: 32px;
    color: #6a6a6a;
    font-size: 14px;
    text-align: center;
}

