@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #000;
    
}
/* body{
    background-color: #ededed;
} */

.header .topbar{
    background:#111827 ;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    
}

.container{
    width: 1216px;
    padding: 0 32px;
    margin: 0 auto; 
}
.topbar-content{
    display: flex;
    justify-content: space-between;

}
.topbar-selectbox{
    background-color: transparent;
    color: #fff;
    border: 0;
}
.topbar-menu{
    list-style: none;
    display: flex;
    gap: 24px;
}
.topbar-menu li a{
    color: #ffffff;
    text-decoration: none;
}

.header .navbar{
    height: 64px;
    background-color: #ffffff;
    display: flex;
    align-items: center;

}

.navbar-content{
    display: flex;
    justify-content: space-between;
}

.navbar-logo{
    height: 24px;
    width: auto;
}
.navbar-menu{
    list-style: none;
    display: flex;
    align-items: center;
    gap:32px;
}
.navbar-menu li a{
    text-decoration: none;
}
.navbar-right-menu{
    display: flex;
    align-items: center;
    gap: 32px;
}

.navbar-right-menu-item img{

    height: 25px;
}

.card-menu{
    display: flex;
    align-items: center;
    gap: 6px;
    
}

/* banner area start  */

.banner{
    background-image: url('../images/hero-slider.jpg');
    background-position: center 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 678px;
    position: relative;
}
.banner-overlay{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #111827;
opacity: 0.5;
}

.banner-content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
}
.banner-heading{

font-size: 65px;
color: #eee9e9;
}

.banner-content-main{
    text-align: center;
    padding: 130px 0;
}

.banner-button{
background-color: #4f46e5;
padding: 12px 32px;
color: #fff;
border: 0;
border-radius: 8px;
margin-top: 16px;
font-family: "Inter", sans-serif;
}

.collections{
    margin-top: -240px;
}
.collection-list{
    display: flex;
    gap: 32px;
}

.collection-item{
     width: calc(100% / 3); 
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    background-color: #fff;
}
.collection-item img{
    max-width: 100%;
    height: 100%;
}
   
.collection-item-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent, #000);
    opacity: 0.5;
}

.collection-item:hover > img{
    opacity: 0.75;
}

.collection-item-content{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 24px;
}

.collection-item-text,
 .collection-item-name{
    color: #fff;
 }
 .collection-item-text{
    margin-bottom: 8px;
 }
  
 .products{
    margin-top: 120px;
 }

 .products-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
 }

 .products-header-title{
    font-size: 24px;
    font-weight: bold;
 }

 .products-header-link{
    text-decoration: none;
    color: #4f46e5;
 }
 .products-header-link:hover{
    opacity: 0.75;
 }

 .product-list{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
 }
 .product-item{
    width:  calc((100% - 96px) / 4);
    overflow: hidden;
 }

 .product-item-img{
    height: 280px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
 }
 .product-item-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
 }
 .product-item:hover > .product-item-img > img{
    opacity: 0.75;
 }

 .product-item-content{
    margin-top: 13px;
 }

 .product-item-name{
margin-bottom: 8px;
 }

 .product-item-cat{
margin-bottom: 8px;
color: #868686;
 }

 .product-item-price{
    font-weight: 500;
 }

.service-footer{
    background-color: #f9fafb;
    margin-top: 120px;
    border-top: 1px solid #e5e7eb;
}

.service-list{
    display: flex;
    gap: 32px ;
}

.service{
    padding: 120px 0;
}

.service-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-item-icon{
    width: 112px;
    height: 96px;
    margin-bottom: 24px;

}

.service-item-desc{
    text-align: center;
    font-size: 14px;
    color: #6e6d6d;
}

.service-item-title{
    margin-bottom: 12px;
    font-weight: 500;
}

 /* .footer{
    
}  */

.footer-top{
    display: flex;
    gap: 32px;
    padding: 120px 0;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
    
}

.footer-top-item{
    width: calc((100% - 96px) / 4);
}

.footer-top-title{
    font-weight: 600;
    margin-bottom: 24px;
}

.footer-top-list{
    list-style: none;
    margin-bottom: 20px;
}
.footer-top-list-item{
    margin-bottom: 20px;
}
.footer-top-list-item a{
    color: #6a6a6a;
    text-decoration: none;
    font-size: 14px;
   
}

.footer-top-logo img{
    width: 120px;
    margin-bottom: 24px;
}

.footer-top-logo-title{
    font-weight: 500;
    margin-bottom: 18px;
}

.footer-top-logo-desc{
color: #6a6a6a;
font-size: 14px;
}

.footer-bottom{
    padding: 32px;
    color: #6a6a6a;
    font-size: 14px;
    text-align: center;
}